body{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none; /* 移除列表前小标志。一个导航栏并不需要列表标记 */
    margin: 0;
    padding: 0;
    /* 移除浏览器的默认设置将边距和填充设置为0 */
    background-image: linear-gradient(to right, #ff7382, #cb2fe7);
    position: fixed;
    top: 0;
    height: 49px;
    width: 100%;
    z-index: 999;
}
li {
    float: left;
}
li a {
    display: block;
    font-weight:bold;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}
/* 鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color: #c195e2;
    color: white;
}
.sitplace{
    height: 49px;
}