    .test {
    text-align: center;
    margin: 50px auto;
    width: 80%;
  }
  
  .field {
    display: flex;
    justify-content: center;
  }
  
  .square {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-color: #ccc;
    font-size: 3em;
    border-radius: 4px;
  }
  
  .btn {
    margin-top: 20px;
  }
  
  .result {
    margin-top: 20px;
  }
  