.back-button {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(248, 129, 208);
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}
.result {
    margin-top: 10px;
    font-size: 20px;
}
#startButton {
    display: block;
    margin: 0 auto;
    text-align: center;}

button#startButton,
button.instructions-button{
    background-color: rgb(248, 129, 208);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border-radius: 40px;
}

button#startButton:hover,
button.instructions-button:hover, button.back-button:hover{
    background-color: rgba(240, 124, 215, 0.84);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.973);
}

.modal-content {
    background-color: rgba(249, 160, 252, 0.64);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 80%;
}


progress {
    width: 200px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
}

progress::-webkit-progress-value {
    background-color: #5c0858;
    border-radius: 10px;
}
