#box {
    position: relative;
    width: 500px;
    height: 50px;
    margin: auto;
    border: 3px solid rgb(39, 24, 50);
    border-radius: 5px;
    background-color: rgba(31, 31, 66, 0.496);
}

#object1, #object2 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#object1 {
    background-color:  rgb(248, 129, 208);
}

#object2 {
    background-color: rgba(98, 130, 236, 0.837);
}

button#start,
button.instructions-button{
    background-color: rgb(248, 129, 208);
    color: white;
    border: none;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border-radius: 40px;
}

button#start:hover,
button.instructions-button:hover, button.back-button:hover{
    background-color: rgba(240, 124, 215, 0.84);
}

.result {
    color: white;
    margin-top: 10px;
    font-size: 20px;
}

progress {
    width: 200px;
    height: 20px;
    background-color: rgba(26, 188, 156, 0.25);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 30px;

}

progress::-webkit-progress-value {
    background-color: #1abc9c;
    border-radius: 10px;
}
#boundary {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 300px;
    border: 2px solid black;
}
